{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>Register</h2>
          </div>
          <form action="{% url 'register' %}" method="post" class="form">
              {% csrf_token %}
              <label for="username" style="padding-top:13px">
                  &nbsp;Username
                  </label>
                  <input autofocus id="username" class="form-content" type="text" name="username" required>
              <div class="form-border"></div>
              <label for="user-email" style="padding-top:13px">
                &nbsp;Email
                </label>
                <input autofocus id="user-email" class="form-content" type="email" name="email" required>
            <div class="form-border"></div>
              <label for="user-password" style="padding-top:22px">&nbsp;Password
                  </label>
                  <input id="user-password" class="form-content" type="password" name="password" required>
              <div class="form-border"></div>
                
              <label for="user-conpassword" style="padding-top:22px">&nbsp;Confirm Password
                </label>
            <input id="user-conpassword" class="form-content" type="password" name="confirmation" required>
            <div class="form-border"></div>

            <input id="submit-btn" type="submit" name="submit" value="Register"/>
          </form>
        </div>
        <div id='card-foot'>
            <a href="{% url 'login' %}" id="signup">Already have an account?</a>
          </div>
      </div>

{% endblock %}